**/*.png
**/*.pickle
**/*.npy
**/*.jpg
**/*.zip
**/*.tgz
Dataset/Images.zip
Dataset/*.zip
models.zip
**/*.swp
**/*.pyc
**/*.DS_Store
models/
Painted_Images/
.project
ObjectOnFloorDetectionNN/
.pydevproject
**/venv/

